.btn {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    position: relative;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
  &--white {
    color: $color-grey;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &:hover {
    box-shadow: 0 1rem 2rem $color-dark;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem $color-dark;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  &--animation {
    /* applying animation 0% before the animation start(we used when setting a delay) */

    animation: moveInBottom 0.5s ease-out 0.75s backwards;

    -webkit-animation: moveInBottom 0.5s ease-out 0.75s backwards;
  }

  //btn-text
  &-text {
    &:link,
    &:visited {
      display: inline-block;
      font-size: $default-font-size;
      font-weight: 700;
      padding: 0.3rem;
      color: $color-main;
      text-decoration: none;
      border-bottom: 2px solid $color-main;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    &:hover {
      color: $color-white;
      background-color: $color-main;
      box-shadow: 0 1rem 2rem $color-main;
      transform: translateY(-3px);
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -o-transform: translateY(-3px);
    }
    &:active {
      color: $color-white;
      background-color: $color-main;
      box-shadow: 0 0.5rem 1rem $color-main;
      transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
      -moz-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
      -o-transform: translateY(-1px);
    }
  }
}
