/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: 

*/
$color-main: #7ed56f;
$color-main-light: #55c57a;
$color-main-dark: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-dark: rgba(0, 0, 0, 0.2);
$color-grey-light-1: #f7f7f7;
//grid
$row-background-color: blanchedalmond;
$grid-row-width: 130rem;
$grid-row-vertical: 8rem;
$grid-row-horizontal: 6rem;
//font
$default-font-size: 1.6rem;
